<header class="main-header">
  <div class="container" >
    <div class="header-container">
      <div class="header-flex">
        <div class="header-logo">
          <a href="../index.html">
            <img src="../assets/icons/Logo (6).svg" alt="JSMerce Logo" />
          </a>
        </div>
        <form class="search-form">
          <select
            name="categories"
            id="category-select"
            class="category-dropdown"
          >
            <option value="All">All Categories</option>
            <option value="Electronics">Electronics</option>
            <option value="Clothing">Clothing</option>
            <option value="Books">Books</option>
          </select>
          <input type="search" placeholder="Search" class="search-input"/>
          <button type="submit" class="search-button">
            <img src="../assets/icons/search.svg" alt="search icon" />
          </button>
        </form>
      </div>
      <div class="header-content">
        <div class="support-section">
          <div class="icon-wrapper">
            <img src="../assets/icons/phone-call.svg" alt="phone icon" />
          </div>
          <div class="text-wrapper">
            <span class="label">24/7 SUPPORT</span>
            <span class="value">+201151439987</span>
          </div>
        </div>
        <span class="divider"></span>
        <div class="user-actions-section">
          <div class="user-actions">
            <a href="#">
              <div class="account-section">
                <div class="icon-wrapper">
                  <img src="../assets/icons/user.svg" alt="user icon" />
                </div>
                <div class="text-wrapper">
                  <span class="label">Account</span>
                  <a href="../pages/login.html" class="value">Log In</a>
                </div>
              </div>
            </a>
            <a href="#cart">
              <div class="cart-section">
                <div class="icon-wrapper">
                  <img src="../assets/icons/shopping-cart.svg" alt="cart icon" />
                  <span class="cart-count">0</span>
                </div>
                <div class="text-wrapper">
                  <span class="label">CART</span>
                  <p class="value">$ <span class="cart-total">1000</span></p>
                </div>
              </div>
            </a>
          </div>
          <div class="mobile-menu-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu">
              <line x1="4" x2="20" y1="12" y2="12"/>
              <line x1="4" x2="20" y1="6" y2="6"/>
              <line x1="4" x2="20" y1="18" y2="18"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <nav class="main-nav">
      <div class="nav-container">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#" class="nav-link">Popular</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Shop</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
          <li class="nav-item dropdown-container">
            <a href="#" class="nav-link dropdown-toggle">Pages &#8595;</a>
            <div class="dropdown-menu">
              <ul class="dropdown-menu-list">
                <li class="dropdown-menu-item">
                  <a href="#" class="dropdown-menu-link">About Us</a>
                </li>
                <li class="dropdown-menu-item">
                  <a href="#" class="dropdown-menu-link">FAQ</a>
                </li>
                <li class="dropdown-menu-item">
                  <a href="#" class="dropdown-menu-link">Privacy Policy</a>
                </li>
                <li class="dropdown-menu-item">
                  <a href="#" class="dropdown-menu-link">Terms & Conditions</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown-container">
            <a href="#" class="nav-link dropdown-toggle">Blogs</a>
            <div class="dropdown-menu">
              <ul class="dropdown-menu-list">
                <li class="dropdown-menu-item">
                  <a href="#" class="dropdown-menu-link">Latest News</a>
                </li>
                <li class="dropdown-menu-item">
                  <a href="#" class="dropdown-menu-link">Tech Updates</a>
                </li>
                <li class="dropdown-menu-item">
                  <a href="#" class="dropdown-menu-link">Product Reviews</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="nav-actions">
        <div class="action-item">
          <div class="action-item-icon">
            <img src="../../assets/icons/refresh-ccw.svg" alt="Recently Viewed">

          </div>
          <span>Recently Viewed</span>
        </div>
        <div class="action-item">
          <div class="action-item-icon">

            <img src="../../assets/icons/heart.svg" alt="Wishlist">
          </div>
          <span>Wishlist</span>
        </div>
      </div>
    </nav>
  </div>
</header>
