.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #43c2c6;
    color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .main-content {
    margin-top: 60px; /* نفس ارتفاع الـ fixed-header */
    padding: 20px;
  }
  